* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 5vw;
    min-height: 100vh;
    background: url('images/fondo.jpg')right/cover;
    flex-direction: column;
}

h1{
    margin-top: 60px;
    font-family: 'Great Vibes', cursive;
    font-size: 2.5em;
    text-align: center;
    /* margin-bottom: 20px; */

    color: #a0552c; 
}

.divBottom{
    height: 40px;
}

.envelope {
    width: 95vw;
    max-width: 400px;
    height: 55vw;
    max-height: 300px;
    position: relative;
    perspective: 1000px;
    cursor: pointer;
    border: 1px solid #a0552c;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
    background-color: #f8f8f8;
}

.flap {
  width: 100%;
  height: 100%;
  background: #a0552c;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top;
  transition: transform 1s ease;
  z-index: 3;
  clip-path: polygon(0 0, 100% 0, 50% 60%);
}

.envelope.open .flap {
  transform: rotateX(180deg);
}


.paper {
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    border: 2px solid #a0552c;
    opacity: 0;
    /* transform: translateY(3vh);   */
    transition: opacity 0.5s ease 0.5s, transform 0.5s ease 0.5s;
    z-index: 1;
    overflow: auto;
}

.envelope.open .paper {
    opacity: 1;
    transform: translateY(0);
}

.open{
    border: 0 !important;
}

.message {
    font-size: 17px;
    max-width: 100%;
    color: #333;
    line-height: 1.5;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 1.5px;
}

.heart {
    color: #a0552c;
    font-size: 6vw;
    text-align: center;
    margin-top: 2vh;
}

@media (min-width: 600px) {
    .message {
        font-size: 16px;
    }x
    .heart {
        font-size: 24px;
    }
}